.hero {
    background-image: url("../images/weatherhero.jpg");
  }

  #map {
    flex-basis: 0;
    flex-grow: 4;
    height: 500px;
  }
  
  #resultsList {
    flex-basis: 5rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 200px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  #resultsList {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    flex-grow: 1;
  }
  
  li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
    cursor: pointer;
  }